<html>
  <head>
    <title>Art Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <div class="left">
        <button onclick="window.history.back()">Back to search</button>
      </div>
    </div>
    <div class="main-content">
        <div class="left-panel">
          <!-- Dynamic content will be injected here -->
          <div id="content-container"></div>
          <div class="details">
            <h2 id="submission-title">Title</h2>
            <p id="user-info">Username, posted X months ago</p>
            <p id="description">Lorem ipsum...</p>
          </div>
          <div class="comments" id="comments-section">
            <!-- Comments will be injected here -->
          </div>
        </div>
        <div class="right-panel">
          <div class="rating"></div>
          <!-- Rating will be injected here -->
          <div class="details">
            <div class="tags" id="tags-list">
              <!-- Tags will be injected here -->
            </div>
          </div>
        </div>
      </div>
      
    <div class="footer">
      <p>FA Archive Viewer</p>
    </div>
    <script id="submission-data" type="application/json">
      {{ item | tojson | safe }}
    </script>
    <script id="comments-data" type="application/json">
      {{ comments | tojson | safe }}
    </script>
    <script src="{{ url_for('static', filename='submission-view.js') }}"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js"></script>

  </body>
</html>
